<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99Bank Test Automation Suite" verbose="10">
	<listeners>
		<listener class-name="com.org.bank.listeners.CustomListeners"></listener>
	</listeners>
	<test thread-count="5" name="Test" parallel="classes">
		<groups>
			<run>
				<include name="all"></include>
			</run>
		</groups>
		<classes>
			<class name="com.org.bank.tests.CredPageTest" />
			<class name="com.org.bank.tests.LoginPageTest" />
			<class name="com.org.bank.tests.ManagerPageTest"/>
			<class name="com.org.bank.tests.NewCustomerPageTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
